RewriteEngine On
RewriteBase /

# Reindirizza alle pagine specificate ad index.php
RewriteCond %{REQUEST_URI} (aggiungi_categoria|blocca_utente|categoria_elimina|change_icona|change_profile|delete_entry|edit_entry|elimina_utente|exportXML|filtered_table|funzioni|login_user|logout|modifica_categoria|register_entry|register_user|sblocca_utente)\.php$ [NC]
RewriteRule ^(.*)$ index.php [L]

# Rimuovi l'estensione .php e mostra altre pagine
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Impedisci l'accesso diretto alle cartelle e ai file specificati
RewriteRule ^(assets|aggiungi_categoria|blocca_utente|categoria_elimina|change_icona|change_profile|delete_entry|edit_entry|elimina_utente|exportXML|filtered_table|funzioni|login_user|logout|modifica_categoria|register_entry|register_user|sblocca_utente)/ - [F,NC]
