/* inizio animazione e css per la barretta che ti dice in che pagina siamo*/
* {
    padding: 0;
    margin:0;
    font-family: sans-serif;
}

.container-top-text {
    
    text-align:center;

}

.container-top-text span {

    text-transform: uppercase;
    display: block;
}
  
.text {
    color: 	#008000;
    font-size:30px;
    font-weight:700;
    letter-spacing: 10px;
    margin-bottom:20px;
    margin-top: 5px;
    background: transparent;
    animation: text 1s 1;
}
  
.card-log-effect{
    animation: 0.5s skew-x-shakeng;
}

@keyframes skew-x-shakeng{
    0% { transform: scale(1.2); }
   
    100% { transform: scale(1); }
}

@keyframes text {
    0% {
        color: #262626;
    }
    30% {
        letter-spacing: 40px;
    }
    85% {
        letter-spacing:8px;
    }
}
.sfondo-animato {
    animation: cambia-colore 10s ease-in-out infinite;
  }
  
  @keyframes cambia-colore {
    0% {
      background-color: #c2c086;
    }
    50% {
      background-color: #edebbb;
    }
    100% {
      background-color: #c2c086;
    }
  }
/* fine */
.immagineProfilo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
body {
    background-color:#C7BA99;
}

.text-dark {
    margin-top: 24px;
    text-align: center;
}

.cnt-b {
    text-align: center;
}

.edit {
    margin-right : 2px;
}

.buttons {
    text-align: right;
}

.hidden {
    display: none;
}
/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
    outline: 4px solid #0275d8;
}

.enc {
    background-color: greenyellow;
}

.usc {
    background-color: red;
}
.bottone-download{
    font-size: .75rem;
}


.highcharts-figure,
.highcharts-data-table table {
  min-width: 260px;
  max-width: 800px;
  margin: 1em auto;
}

/* Global font */
@import url("https://fonts.googleapis.com/css?family=Dosis:400,600");
@import url("../highcharts.css");

:root {
    /* Colors for data series and points. */
    --highcharts-color-0: #7cb5ec;
    --highcharts-color-1: #f7a35c;
    --highcharts-color-2: #90ee7e;
    --highcharts-color-3: #7798bf;
    --highcharts-color-4: #aaeeee;
    --highcharts-color-5: #ff0066;
    --highcharts-color-6: #eeaaee;
    --highcharts-color-7: #55bf3b;
    --highcharts-color-8: #df5353;
    --highcharts-color-9: #7798bf;
}

.highcharts-container {
    font-family: Dosis, arial, helvetica, sans-serif;
}

.highcharts-title,
.highcharts-subtitle,
.highcharts-yaxis .highcharts-axis-title {
    text-transform: uppercase;
}

.highcharts-title {
    font-weight: bold;
    font-size: 1.3em;
}

.highcharts-axis-labels {
    font-size: 1em;
}

.highcharts-legend-item > text {
    font-size: 1.1em;
}

.highcharts-xaxis-grid .highcharts-grid-line {
    stroke-width: 1px;
}

.highcharts-tooltip-box {
    stroke-width: 0;
    fill: rgb(219, 219, 216);
}
    