/* inizio animazione e css per la barretta che ti dice in che pagina siamo*/
* {
    padding: 0;
    margin:0;
    font-family: sans-serif;
}

.container-top-text {
    
    text-align:center;

}

.container-top-text span {

    text-transform: uppercase;
    display: block;
}
  
.text {
    color: 	#008000;
    font-size:30px;
    font-weight:700;
    letter-spacing: 10px;
    margin-bottom:20px;
    margin-top: 5px;
    background: transparent;
    animation: text 1s 1;
}
  
  
@keyframes text {
    0% {
        color: #262626;
    }
    30% {
        letter-spacing: 40px;
    }
    85% {
        letter-spacing:8px;
    }
}
/* fine */
.immagineProfilo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
body {
    background-color:#C7BA99;
}

.text-dark {
    margin-top: 24px;
    text-align: center;
}

.cnt-b {
    text-align: center;
}

.edit {
    margin-right : 2px;
}

.buttons {
    text-align: right;
}

.hidden {
    display: none;
}
/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
    outline: 4px solid #0275d8;
}

.enc {
    background-color: greenyellow;
}

.usc {
    background-color: red;
}
.bottone-download{
    font-size: .75rem;
}
