body {
    background-color:#e9e9e9;
}

.text-dark {
    margin-top: 24px;
    text-align: center;
}

.cnt-b {
    text-align: center;
}

.edit {
    margin-right : 2px;
}

.buttons {
    text-align: right;
}

.hidden {
    display: none;
}